.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  background-color: slategray;
}

.container > h1 {
  position: relative;
  justify-content: center;
  align-items: center;
  color: lemonchiffon;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid lemonchiffon;
}

#current {
  width: 40%;
  border: 2px solid lemonchiffon;
  border-radius: 1rem;
  padding: .5rem 2rem;
}

#current > h2, p, h3 {
  color: lemonchiffon;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#current > h2 {
  border-bottom: 1px solid lemonchiffon;
  text-align: center;
}

#current > h3 {
  border-bottom: 1px solid lemonchiffon;
  text-align: center;
}
