.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container > h1 {
  position: relative;
  justify-content: center;
  align-items: center;
}

#current {
  border: 1px solid black;
  border-radius: 1rem;
  padding: .5rem 2rem;
  
}